<html>
  <head>
    <title>heatwave</title>
    <link rel="stylesheet" href="/index.css">
    <script type="text/javascript" src="/index.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="/"><img src="/img/logo.png"></a>
      </div>
      <div id="body">
        <div id="examples">
          <div class="whatsthis">
            <div style="background:url(img/hashBg.png) repeat-x; height:72px; width:200px;position:absolute;left:0;top:0;"></div>
            <div style="background:url(img/hashLeftIndent.png) no-repeat; height:72px; width:52px;position:absolute;left:200px;top:0;"></div>
            <div style="background:url(img/hashBg.png) repeat-x; height:72px; width:200px;position:absolute;right:0;top:0;"></div>
            <div style="background:url(img/hashRightIndent.png) no-repeat; height:72px; width:52px;position:absolute;right:195px;top:0;"></div>
            Try this example!
          </div>
          <iframe src='/empty_frame.html' allowtransparency='true' class='heatmap' style='display:none;' scrolling='no' id='myIframe'>
          </iframe>
          <div id="example0" class="example">
            <textarea id="source"><%= examples[2] %></textarea> 
            <div>
              <input type="button" id="run" class="run" value="run">
            </div>
          </div>
        </div>
        
        <div class="or"><img src="/img/or.png"></div>
        
        <div id="upload">
          <div class="whatsthis">
            Upload your own code!
          </div>
          <form id='uploadform' method="post"  enctype="multipart/form-data" action="/upload">
            <input id='choosebtn' type="file" name="file">
            <input id='uploadbtn' type="submit" value="upload!">
          </form>
        </div>

        <div class="or"><img src="/img/or.png"></div>

        <div id="curl">
          <div class="whatsthis">
            Use the <code>curl</code> command to upload code!
          </div>
          <div>
            <p>
                Single file:
                <pre>curl -sNT file.js <%= host %></pre>
            </p>
            <p>
                Multiple files:
                <pre>curl -sNT "{file1.js,file2.js}" <%= host %></pre>
            </p>
          </div>
        </div>
        
        <div class="or"><img src="/img/or.png"></div>
        
        <div id="recent">
          <div class="whatsthis">
            Look at what people have uploaded recently!
          </div>
          <table id="files">
            <% recent.slice(0,10).forEach(function (r) { %>
              <tr>
                <td>
                  <a href="/id/<%= r.id %>"><%= r.id %></a>
                </td>
                <td class="mtime">
                  <span class="time">
                    <%= strftime('%T', r.mtime) %>
                  </span>
                  <span class="date">
                    <%= strftime('%b %d %Y', r.mtime) %>
                  </span>
                </td>
              </tr>
            <% }) %>
          </table>
        </div>
        
      </div>
      <div id="footer">
        <p>
            <a href="http://catonmat.net">Peteris Krumins</a>,
            <a href="http://substack.net">James Halliday</a>,
            <a href="http://rook2pawn.com">David Wee</a>,
            <a href="http://jesusabdullah.github.com/">Josh Holbrook</a>.
        </p>
        <p>
            <a href="http://nodeknockout.com/teams/replicants"><img src="/img/nko.png" title="VOTE FOR US!"></a>
        </p>
      </div>
    </div>
  </body>
</html>
